<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layoutadmin::head">    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layoutadmin::menu"></nav>
<div th:replace="layoutadmin::modaluser"></div>
<section class="dashboard">
    <div class="dash-content">
        <div class="container">
            <h1>Evaluacion Lista</h1>
            <table id="tablausuarios" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Change Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.username}"></td>
                    <td th:text="${usuario.role}"></td>
                    <td>
                        <a href="#" th:data-username="${usuario.username}" class="actualizar-password">
                            <i class="uil uil-eye campo-verde"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<div class="modal fade modal-xl" id="modalContraseña" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Restauracion de Contraseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="was-validated">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" readonly required id="usernameid" name="username">
                        <label for="contraseñaactualizar">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="contraseñaactualizar" name="password">
                        <label for="contraseñaactualizar">Password</label>
                        <div class="invalid-feedback">
                            Porfavor colocar la nueva contraseña.
                        </div>
                    </div>
                    <button type="submit" id="actionPassword" class="btn btn-primary">Cambiar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tablausuarios').DataTable();

        $('.actualizar-password').click(function (event){
            $('#usernameid').val($(this).attr("data-username"))
            $('#modalContraseña').modal("show")
        });

        $('#actionPassword').click(function (event){
            event.preventDefault();
                var username = $('#usernameid').val();
                var password = $('#contraseñaactualizar').val();
                $.ajax({
                   url: '/user/cambiarContrasenia',
                   type: 'POST',
                   data: {
                        username: username,
                        password: password
                   },
                   dataType: 'json',
                   success: function(response){
                        $('#modalContraseña').modal('hide');
                   },
                   error: function(){
                    console.log('Error al actualizar la contraseña');
                   }
                });
                $('#modalContraseña').modal('hide');
        });
    });
</script>
</body>
</html>