<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layoutadmin::head">    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layoutadmin::menu"></nav>
<section class="dashboard">
    <div class="dash-content">
        <div class="container">
            <h1>Evaluacion Lista</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.username}"></td>
                    <td th:text="${usuario.role}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script th:src="@{/js/web/backoffice/admin/admin.js}" type="text/javascript"></script>
</body>
</html>