<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h1>FUNCIONE</h1>
<!--FORMULARIO PARA ENVIAR LOS DATOS DE LA EVALUACION-->
<form th:object="${evaluacion}" th:action="@{/evaluacion/guardarEvaluacion}" method="post" class="row g-3">
    <div class="row border mt-3 p-3">
        <h4 class="mb-3">Datos auditor</h4>
        <!--field o name se usan para enviar datos-->
        <div class="col-md-4">
            <label class="form-label">Dni Auditor</label>
            <input type="text" class="form-control" id="dniAuditor" name="auditor.dniAuditor" th:value="${user.dni}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre Auditor:</label>
            <input type="text" class="form-control" id="nombreAuditor" th:value="${user.nombre}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellido Auditor:</label>
            <input type="text" class="form-control" id="apellidoAuditor" th:value="${user.apellido}" readonly>
        </div>
    </div>
    <br>
    <div class="row border mt-3 p-3">
        <h4 class="mb-3">Datos Empleado</h4>
        <!--field o name se usan para enviar datos-->
        <div class="col-md-4">
            <label class="form-label">Dni Empleado</label>
            <input type="text" class="form-control" id="dniEmpleado" name="empleado.dniEmpleado" th:value="${llamada.empleado.dniEmpleado}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre y Apellido Empleado:</label>
            <input type="text" class="form-control" id="nombreEmpleado" th:value="${llamada.empleado.nombreEmpleado +' '+llamada.empleado.apellidoEmpleado}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Area Empleado:</label>
            <input type="text" class="form-control" id="apellidoEmpleado" th:value="${llamada.empleado.area}" readonly>
        </div>
    </div>
    <div class="row border mt-3 p-3">
        <h4 class="mb-3">Llamada</h4>
        <!--field o name se usan para enviar datos-->
        <div class="col-md-4">
            <label class="form-label">Numero de Orden:</label>
            <input type="text" class="form-control" id="numeroOrden" name="llamada.numeroOrden" th:value="${llamada.numeroOrden}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Numero de Cliente</label>
            <input type="text" class="form-control" id="numeroCliente" th:value="${llamada.cliente.numeroCliente}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">Estado:</label>
            <input type="text" class="form-control" id="estadoLllamada" th:value="${llamada.estado}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Dni de Cliente:</label>
            <input type="text" class="form-control" id="dniCliente" th:value="${llamada.cliente.dniCliente}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Apellido de Cliente:</label>
            <input type="text" class="form-control" id="apellidoCliente" th:value="${llamada.cliente.apellidoCliente}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Nombre de Cliente:</label>
            <input type="text" class="form-control" id="nombreCliente" th:value="${llamada.cliente.nombreCliente}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Tipo:</label>
            <input type="text" class="form-control" id="tipo" th:value="${llamada.tipo}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Area:</label>
            <input type="text" class="form-control" id="area" th:value="${llamada.area}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Subarea:</label>
            <input type="text" class="form-control" id="subarea" th:value="${llamada.subarea}" readonly>
        </div>
        <div class="col-md-4 mt-2">
            <label class="form-label">Fecha y Hora Llamada:</label>
            <input type="datetime-local" class="form-control" th:value="${#dates.format(#dates.create(llamada.fechahora.year, llamada.fechahora.monthValue, llamada.fechahora.dayOfMonth, llamada.fechahora.hour, llamada.fechahora.minute, 0, 0), 'yyyy-MM-dd HH:mm:ss')}" readonly />
        </div>
    </div>
    <div class="col-12">
        <label class="form-label">Llamada</label>
        <audio controls class="form-control">
            <source th:src="@{${llamada.url}}" type="audio/mpeg">
        </audio>
    </div>
    <div class="col-md-4">
        <label class="form-label">Observaciones:</label>
        <input type="text" class="form-control" name="observacionesEvaluacion" id="observaciones">
    </div>
    <div class="col-md-4">
        <label class="form-label">Nota:</label>
        <input type="number" class="form-control" name="nota" id="nota">
    </div>
    <div class="col-md-4">
        <label class="form-label">Fecha Hora Auditoria:</label>
        <input type="datetime-local" class="form-control" name="fechahora" th:value="${#dates.format(#dates.create(fechaconhora.year, fechaconhora.monthValue, fechaconhora.dayOfMonth, fechaconhora.hour, fechaconhora.minute, 0, 0), 'yyyy-MM-dd HH:mm:ss')}" readonly />
    </div>
    <input type="hidden" class="form-control" name="numeroOrden" th:value="${llamada.numeroOrden}" readonly>
    <div class="col-md-4">
        <button type="submit">Guardar</button>
    </div>

</form>
    <a class="btn btn-info" th:href="@{/llamada/listar}">Regresa</a>
</body>
</html>