<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{snippet/inicio::head}">
    <meta charset="UTF-8">
    <title>Auditoria Interna</title>
</head>
<body>
<th:block th:if="${#authorization.expression('hasAuthority(''EMPLEADO'')')}">
    <nav th:replace="~{snippet/nav-bar-empleado :: menu}"></nav>
</th:block>
<th:block th:if="${#authorization.expression('hasAuthority(''LIDER'')')}">
    <nav th:replace="~{snippet/nav-bar-lider :: menu}"></nav>
</th:block>
<th:block th:if="${#authorization.expression('hasAuthority(''AUDITOR'')')}">
    <nav th:replace="~{snippet/nav-bar-auditor :: menu}"></nav>
</th:block>

<h2 id="bienvenida">Bienvenido, [[${session.user.nombreCompleto}]]</h2>
<div class="container-clock">
    <h1 id="time">00:00:00</h1>
    <p id="date">date</p>
</div>
<script th:src="@{/js/web/frontoffice/lider.js}" type="text/javascript"></script>
</body>
</html>
