/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #9ad0c2;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    background-color: #fff;
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

.campo-verde{
    color: green;
    font-size: 24px;
}
.campo-amarillo{
    color:yellow;
        font-size: 24px;
}

.logout-button {
    background-color: #009970;
    color: #fff;
    font-size: 19px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.logout-button:hover {
    background-color: #00b383;
}

/*Navbar bootstrap*/

.navbar {
    background-color: #f0f0f0;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;

}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.nav-item {
    font-size: 19px;
}
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

.dashboard {
    position: fixed; /* Cambiado a fixed para mantenerlo fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho del 100% de la ventana */
    height: 100vh; /* Altura del 100% de la ventana */
    background-color: #fff;
    transition: var(--tran-05);
}


.dashboard .dash-content{
    padding-top: 50px;
    background-color: #fff;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #2d9596;
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.titulo_modal{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}
.dash-content .data_analatycs {
     display: flex;
     align-items: stretch;
     justify-content: space-between;
     flex-wrap: wrap;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    transition: var(--tran-05);
    border: 1px solid #ccc;
    height: 400px;
}

.caj1 {
    flex: 1; /* Ocupa el 40% del espacio disponible */
}

.caja2 {
    flex: 1.5; /* Ocupa el 60% del espacio disponible */
    margin-left: 10px; /* Agrega un espacio entre las cajas */
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 4 - 15px);
    padding: 15px 20px;
    background-color: #4DA3FF;
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: #000;
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: #000;
}
.boxes .box.box1{
    background-color: #ecf4d6;
}
.boxes .box.box2{
    background-color: #9ad0c2;
}
.boxes .box.box3{
    background-color: #2d9596;
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.dash-content .overview {
    width: 90%; /* Establecer el ancho al 90% */
    margin: 0 auto; /* Centrar la sección horizontalmente */
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Candara;
}

/*para modo oscuro*/
body{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para el modo oscuro */
.modo-oscuro {
    background-color: #313131;
    color: #fff;
}

#tt {
    position: relative;
    width: 47px;
    height: 47px;
    margin-left: 3px;
}

#truet{
    transition: 0.5s;
}

/*codigo css para reloj pag inicio*/
.container-clock {
    text-align: center;
;
}

.container-clock h1 {
    font-size: 10rem;
    font-weight: 100;
    margin-top: 1rem;
}

.container-clock p {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bienvenida{
    text-align: center;
    margin-top: 5cm;
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
}
