<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutlider::head">
</head>
<body>
<section class="dashboard">
    <div th:replace="layoutlider::top"></div>
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <span class="text" style="text-align:center">Pagina no encontrada</span>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/web/backoffice/lider/inicio.js}" type="text/javascript"></script>
</body>
</html>