<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <title>Auditoria Interna</title>
    <link th:href="@{/css/web/frontoffice/inicio.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84f459dd12.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">Covisian</a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"
                    id="offcanvasNavbarLabel">Covisian</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" aria-current="page"><b>[[${user.getUsername()}]]</b></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('AUDITOR')">
                        <a class="nav-link mx-lg-2" th:href="@{/llamada/listar}">Auditar</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('EMPLEADO')">
                        <a class="nav-link mx-lg-2" th:href="@{/evaluacion/listar}">Ver tus auditorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" th:href="@{/areas}">Actualizar Proveedor</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimiento
                        </a>
                        <ul class="dropdown-menu">
                            <!--Cuando tenga la autoridad admin se podrar visualizar "Crear Usuario"-->
                            <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" href="#">Action</a>
                                <!--
                                    Otra forma de hacerlo
                                    th:if="${user.getRole() eq 'ADMIN'}"-->
                                <a th:href="@{/registration}"> Crear Usuario </a>
                            </li>
                            <li><a th:href="@{/usuarios}"> Editar Perfil </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item, mode">
                                <a class="nav-link mx-lg-2"><i class="uil uil-moon"></i>Modo Oscuro<div class="mode-toggle">
                                    <span class="switch"></span>
                                </div></a>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
        <span sec:authorize="isAuthenticated">
        <a th:href="@{/logout}" class="logout-button">Logout</a>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
</body>
