<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{snippet/head :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
<nav th:replace="~{snippet/nav-bar-empleado :: menu}"></nav>
<div class="card-list">
    <a href="#" class="card-item" th:each="memo : ${memorandums}">
        <h1>Feedback</h1>
        <h3 th:text="${memo.feedback.motivo}"></h3>
        <hr/>
        <img src=""
             th:alt="${memo.feedback.empleado.nombreEmpleado} + ' ' + ${memo.feedback.empleado.apellidoEmpleado}">
        <span th:text="${memo.feedback.empleado.area}" class="editor"></span>
        <h3 th:text="${memo.asunto}"></h3>
        <p th:text="${memo.cuerpo}"></p>
        <div class="arrow">
            <i class="fas fa-arrow-right card-icon"></i>
        </div>
    </a>
</div>
</body>
</html>

